.layout {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
  width: 90vw;
}
.searchBar {
  border: none;
  outline: none;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 500px;
  max-width: 600px;
  align-self: center;
  margin: 3rem;
}
.searchBar::placeholder {
  font-size: 1rem;
}
.searchBar[placeholder] {
  font-size: 1rem;
  color: gray;
}
